<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cszx.pm.dao.weekly.WeeklyDao">
    <resultMap id="Baseinfo" type="com.cszx.pm.model.weekly.Weekly">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="w_name" property="w_name" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="last_work_sketch" property="last_work_sketch" jdbcType="VARCHAR"/>
        <result column="u_time" property="u_time" jdbcType="VARCHAR"/>
        <result column="this_work_sketch" property="this_work_sketch" jdbcType="VARCHAR"/>
        <result column="w_type" property="w_type" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_List">
        id,w_name,time,last_work_sketch,u_time,this_work_sketch,w_type,remarks
    </sql>

    <select id="selectWeekly" resultMap="Baseinfo" parameterType="java.util.Map">
        select
        <include refid="Base_List"/>
        from pm_weekly
        where 1=1
        <if test="w_name !=null">
            and w_name=#{w_name}
        </if>
        <if test="w_type!=null">
            and w_type=#{w_type}
        </if>
        <if test="time !=null">
            and time=#{time}
        </if>
    </select>

    <insert id="addWeekly" parameterType="com.cszx.pm.model.weekly.WeeklyVo">
        insert into pm_weekly
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="w_name !=null">
                w_name,
            </if>
            <if test="time !=null">
                time,
            </if>
            <if test="last_work_sketch !=null">
                last_work_sketch,
            </if>
            <if test="u_time !=null">
                u_time,
            </if>
            <if test="this_work_sketch !=null">
                this_work_sketch,
            </if>
            <if test="w_type !=null">
                w_type,
            </if>
            <if test="remarks !=null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="w_name !=null">
                #{w_name,jdbcType=VARCHAR},
            </if>
            <if test="time !=null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="last_work_sketch !=null">
                #{last_work_sketch,jdbcType=VARCHAR},
            </if>
            <if test="u_time !=null">
                #{u_time,jdbcType=VARCHAR},
            </if>
            <if test="this_work_sketch !=null">
                #{this_work_sketch,jdbcType=VARCHAR},
            </if>
            <if test="w_type !=null">
                #{w_type,jdbcType=VARCHAR},
            </if>
            <if test="remarks !=null">
                #{remarks,JDBCtYPE=varchar},
            </if>
        </trim>
    </insert>

    <update id="updateWeekly" parameterType="com.cszx.pm.model.weekly.WeeklyVo">
        update pm_weekly
        <set>
            <if test="w_name !=null">
                w_name=#{w_name,jdbcType=VARCHAR},
            </if>
            <if test="time !=null">
                time=#{time,jdbcType=TIMESTAMP},
            </if>
            <if test="last_work_sketch !=null">
                last_work_sketch=#{last_work_sketch,jdbcType=VARCHAR},
            </if>
            <if test="u_time !=null">
                u_time= #{u_time,jdbcType=VARCHAR},
            </if>
            <if test="this_work_sketch !=null">
                this_work_sketch= #{this_work_sketch,jdbcType=VARCHAR},
            </if>
            <if test="w_type !=null">
                w_type= #{w_type,jdbcType=VARCHAR},
            </if>
            <if test="remarks !=null">
                remarks=#{remarks,JDBCtYPE=varchar},
            </if>
        </set>
        where id=#{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteWeekly" parameterType="java.util.List">
        delete from pm_weekly
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>

