<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cszx.pm.dao.role.RoleDao" >
  <resultMap id="BaseResultMap" type="com.cszx.pm.model.role.Role" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ROLE_DES" property="roleDes" jdbcType="VARCHAR" />
    <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_NAME, ROLE_DES, ROLE_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from p_role
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="findRolesByLoginId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
	    r.ID,
	    r.ROLE_NAME,
	    r.ROLE_DES,
	    r.ROLE_CODE
    FROM 
    	pm_user u
	LEFT JOIN pm_user_role re
		ON u.ID=re.USER_ID
	LEFT JOIN pm_role r
		ON re.ROLE_ID=r.ID
	WHERE 
		u.LOGIN_ID=#{loginId,jdbcType=VARCHAR}
  </select>
  
  <select id="getRolesByLoginId" resultType="java.lang.String" parameterType="java.lang.String" >
    SELECT
	    r.ROLE_CODE
    FROM 
    	pm_user u
	LEFT JOIN pm_user_role re
		ON u.ID=re.USER_ID
	LEFT JOIN pm_role r
		ON re.ROLE_ID=r.ID
	WHERE 
		u.LOGIN_ID=#{loginId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pm_role
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cszx.pm.model.role.Role" >
    insert into pm_role (ID, ROLE_NAME, ROLE_DES, 
      ROLE_CODE)
    values (#{id,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{roleDes,jdbcType=VARCHAR}, 
      #{roleCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cszx.pm.model.role.Role" >
    insert into pm_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="roleDes != null" >
        ROLE_DES,
      </if>
      <if test="roleCode != null" >
        ROLE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDes != null" >
        #{roleDes,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cszx.pm.model.role.Role" >
    update pm_role
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDes != null" >
        ROLE_DES = #{roleDes,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cszx.pm.model.role.Role" >
    update pm_role
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_DES = #{roleDes,jdbcType=VARCHAR},
      ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>